{% extends "static/base.html" %}
{% block title %} Page Beta: index {% endblock %}
{% block content %}
<br>
<div class="row">
    <div class="col-3">
        <div class="list-group">
            <a href="/listCalassrooms/{{name}}" class="list-group-item list-group-item-action">Return</a>
        </div>
    </div>
    <div class="col-sm-9 text-center">
        <h1 class="text-center">HomeWork</h1>
        <div class="container-fluid">
            <form method="POST">
                {% csrf_token %}
                    <b>Name:</b>
                    <input type="text" class="form-control" name="changeName" value="{{class.name}}">
                    <button type="submit" name="accept" class="btn btn-outline-primary">Change</button>
            </form>
            <hr> <br> <hr>
            <a href="/listCalassrooms/{{name}}/profileClass/deleteClass/"> <button type="submit" name="accept" class="btn btn-outline-danger">Delete</button> </a> 
        </div>
    </div>
</div>
{% endblock %}