{% extends "static/base.html" %}
{% block title %} Page Beta: index {% endblock %}
{% block content %}
<br/>
<h1>Classroom: {{n}}</h1>
<hr/>
<div class="row">
    <div class="col-md-4">
        <div class="list-group">
            <a href="members/" class="list-group-item list-group-item-action">Members</a>
            <a href="listHomework/" class="list-group-item list-group-item-action">Homework</a>
            <a href="listExam/" class="list-group-item list-group-item-action">Exams</a>
            {% if perms.center.add_classes %}
            <a href="profileClass/" class="list-group-item list-group-item-action">Change Classroom</a>
            {% else %}
            <a href="delete/" class="list-group-item list-group-item-action">Exit to class</a>
            {% endif %}
        </div>
        <p><br/></p>
        <p><br/></p>
        <p><br/></p>
        <p><br/></p>
        <p><br/></p>
        <p><br/></p>
        <p><br/></p>
        <p><br/></p>
        <p><br/></p>
        <p><br/></p>
        <p><br/></p>
    </div>
    <div class="col-md-8">
        <div class="chat">
            <form method="POST">
                {% csrf_token %}
                <h3>Mensajes:</h3>
                <textarea class="form-control" name="msj" rows="5"></textarea><br />
                <button class="btn btn-outline-success" type="submit">Submit</button>
            </form>
            <hr />  
            {% if com %}
            <table style="height: 100px;" class="table">
                {% for c in com %}
                <tr>
                    <td><img class="account-img" src="{{c.user_comment.profile.image.url}}" width="25" height="25" alt="Smiley face"></td>
                    <th scope="col">{{c.user_comment.username}}</th>
                    <td class="text-right disabled"><small>{{c.time}}</small></td>
                </tr>
                <tr>
                    <td colspan="3">
                        {{c.text}}
                    </td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                    <td colspan="3"></td>
                </tr>
            {% endfor %}
            </table>
            {% else %}
            <h1>No comment</h1>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}