{% extends "static/base.html" %}
{% block title %} Page Beta: Programs Practics {% endblock %}
{% block content %}
{% load static %}
<script type="text/javascript" src="{% static 'static/styles/js/noReturns.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<div onload="deshabilitaRetroceso().swap();" onpageshow="if (event.persisted) deshabilitaRetroceso().swap();">
    <H1>Create Exam:</H1>
    <form action="/listCalassrooms/{{name}}/generationWork/" method="POST">

        {% csrf_token %}
    
        <input type="hidden" name="work" value="2">
    
      {% if type == 1 %}
    
      <div class="form-group">
        <h3>Name:</h3>
        <input class="form-control" type="text" name="name" required/>
      </div>
    
      <div class="form-group">
        <H3>Programs quantity want:</H3>
        <select name="quantity" class="form-control">
          <option value="1" selected>1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
      </div>
    
      <div class="form-group">
        <H3>Size of numerals of operation:</H3>
        <select name="size" class="form-control">
          <option value="10" selected>1</option>
          <option value="100">2</option>
          <option value="1000">3</option>
          <option value="10000">4</option>
        </select>
      </div>
    
      <div class="form-group">
        <H3>Operation:</H3>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-outline-primary active">
            <input type="radio" name="operation" value="+" autocomplete="off" checked /> Sum
          </label>
          <label class="btn btn-outline-warning">
            <input type="radio" name="operation" value="-" autocomplete="off"> Subtraction
          </label>
          <label class="btn btn-outline-dark">
            <input type="radio" name="operation" value="z" autocomplete="off"> Multiplication
          </label>
          <label class="btn btn-outline-secondary">
            <input type="radio" name="operation" value="/" autocomplete="off"> Division
          </label>
          <label class="btn btn-outline-danger">
            <input type="radio" name="operation" value="aleatory" autocomplete="off" /> Aleatory
          </label>
        </div>
    
      </div>
      <div class="form-group">
        <H3>Extra funcions:</H3>
        <div class="btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-outline-dark">
            <input type="checkbox" autocomplete="off" name="extras" value="n"> Negative
          </label>
          <label class="btn btn-outline-info">
            <input type="checkbox" autocomplete="off" name="extras" value="d"> Decimals
          </label>
        </div>
      </div>
    
      <div class="row">
        <div class="col-md-6 mb-3">
          <H3>Strat date:</H3>
          <input type="text" class="form-control" id="cc-name" placeholder="" value="{{d}}" readonly>
          <div class="invalid-feedback">
            Name on card is required
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <H3>Finish date:</H3>
          <input id="datepicker" name="bday" min="04-07-" max="3000-12-31" class="form-control" required />
          <small class="text-muted">Select date to finish date work</small>
          <div class="invalid-feedback">
            Name on card is required
          </div>
          <script>
              $('#datepicker').datepicker({
                  format: 'yyyy-mm-dd',
                  startDate: new Date('2020-1-5'),
                  endDate: new Date('2020-7-12'),
                  uiLibrary: 'bootstrap4',
              });
          </script>
        </div>
      </div>
      <div id="myDIV" class="form-group row">
        <label for="example-time-input" class="col-md-2 col-form-label">Exam duration:</label>
        <div class="col-md-5 input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Hour:</span>
          </div>
          <input class="col-md-10 form-control" id="hourInput" type="number" min="0" max="23" step="1" value="00" name="hour" onchange="if(parseInt(this.value,10)<10)this.value='0'+this.value;" />
        </div>
        <div class="col-md-5 input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Minute:</span>
          </div>
          <input class="col-md-10 form-control" id="hourInput" type="number" min="0" max="59" step="1" value="00" name="minu" onchange="if(parseInt(this.value,10)<10)this.value='0'+this.value;" />
        </div>
      </div>
    
      {% elif type == 2 %}
      
      <div class="form-group">
        <h3>Name:</h3>
        <input class="form-control" type="text" name="name" required/>
      </div>
    
      <div class="form-group">
        <H3>Programs quantity want:</H3>
        <select name="quantity" class="form-control">
          <option value="1" selected>1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
      </div>
    
      <div class="form-group">
        <H3>Size of numerals of operation:</H3>
        <select name="size" class="form-control">
          <option value="10" selected>1</option>
          <option value="100">2</option>
          <option value="1000">3</option>
          <option value="10000">4</option>
        </select>
      </div>
    
      <div class="row">
        <div class="col-md-6 mb-3">
          <H3>Strat date:</H3>
          <input type="text" class="form-control" id="cc-name" placeholder="" value="{{d}}" readonly>
          <div class="invalid-feedback">
            Name on card is required
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <H3>Finish date:</H3>
          <input id="datepicker" name="bday" min="04-07-" max="3000-12-31" class="form-control" required />
          <small class="text-muted">Select date to finish date work</small>
          <div class="invalid-feedback">
            Name on card is required
          </div>
          <script>
              $('#datepicker').datepicker({
                  format: 'yyyy-mm-dd',
                  startDate: new Date('2020-1-5'),
                  endDate: new Date('2020-7-12'),
                  uiLibrary: 'bootstrap4',
              });
          </script>
          
        </div>
      </div>
      <div id="myDIV" class="form-group row">
        <label for="example-time-input" class="col-md-2 col-form-label">Exam duration:</label>
        <div class="col-md-5 input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Hour:</span>
          </div>
          <input class="col-md-10 form-control" id="hourInput" type="number" min="0" max="23" step="1" value="00" name="hour" onchange="if(parseInt(this.value,10)<10)this.value='0'+this.value;" />
        </div>
        <div class="col-md-5 input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Minute:</span>
          </div>
          <input class="col-md-10 form-control" id="hourInput" type="number" min="0" max="59" step="1" value="00" name="minu" onchange="if(parseInt(this.value,10)<10)this.value='0'+this.value;" />
        </div>
      </div>
      <div id="createWork"></div>
      {% endif %}
    
      <div class="form-group">
        <button type="submit" class="btn btn-outline-warning">Done</button>
      </div>
      <br><br>
    </form>
</div>
{% endblock %}