{% extends "static/base.html" %}
{% block title %} Page Beta: index {% endblock %}
{% block content %}
<h1>Create new class</h1>
<hr />
<form method="POST">
    {% csrf_token %}
    <div class="row">

        <h4>Type class:</h4>
        <select class="form-control" name="tip">
            {% for t in query %}
            <option value="{{t.id}}">{{t.name}}</option>
            {% endfor %}
        </select>
        <div class="col-md-12">
            <h4>Name to class:</h4>
        </div>
        <input name="nameClass" type="text" class="col-md-10 form-control" />
        <button type="submit" class="col-md-2 btn btn-outline-info">Accept</button>
    </div>
    <div id="createClass"></div>
</form>
{% endblock %}