{% extends "static/base.html" %}
{% block title %} Page Beta: index {% endblock %}
{% block content %}
{% load static %}
<script type="text/javascript" src="{% static 'static/styles/js/noReturns.js' %}"></script>
<script type="text/javascript" src="http://latex.codecogs.com/latexit.js"></script>
<div onload="deshabilitaRetroceso().swap();" onpageshow="if (event.persisted) deshabilitaRetroceso().swap(); ">
    <!-- <h1>Exercises</h1> -->
    <br>
    {% if finish %}
    <h1>Finish the exam</h1>
    <div class="container-fluid">
        <div class="col-sm-12 text-center">
            <h2>Congrtulation</h2>
            <a href="/listCalassrooms/{{name}}/listExam/" type="button" class="btn btn-outline-danger">Return</a>
            
        </div>
    </div>
    {% else %}
    <h1>Problems</h1>
    <div class="row">
        {% for o in owa %}
        <div class="col-md-4 col-sm-6">
            <var><b>{{o.title}}.-</b><span lang="latex"> \huge \color{blue} {{o.formula}} </span></!<var>
        </div>
        {% endfor%}
    </div>
    <br>
    <h1>Answers</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="row">
            {% for r in owa %}
            <div class="col-md-4 col-sm-6">
                {% if r.validation == None %}
                <table>
                    <tr>
                        <th>{{r.title}}.-</th>
                        {% if wa.classess_id == 1 %}
                        <td>
                            <select class="form-control" name="r{{r.title}}">
                                <option value="menor_que" selected><</option>
                                <option value="mayor_que">></option>
                                <option value="igual" >=</option>
                            </select>
                        </td>
                        {% else %}
                        <td><input type="text" class="form-control" name="r{{r.title}}" onkeypress="return validationNum(event)"></td>
                        {% endif %}
                    </td>
                </table>
                {% else %}
                <table>
                    <tr>
                        <th colspan="2">{{r.title}}.-</th>
                        
                    </tr>
                </table>
                {% endif %}
            </div>
            {% endfor%}
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6 text-left">
                <button class="btn btn-outline-info" type="submit" name="btnA">Results</button> 
            </div>
            <div class="col-sm-6 text-right">
                <a href="/listCalassrooms/{{name}}/listHomework/{{name_work}}/" type="button" class="btn btn-outline-danger">Return</a>
            </div>
        </div>
    </form>
    {% for x in range %}
    <p> <br> </p>
    {% endfor %}
    {% endif %}
    <script>
        window.onbeforeunload = confirmExit;
        function confirmExit() {
            return "You have attempted to leave this page. Are you sure?";
        }
    </script>
</div>
{% endblock %}