{% extends "static/base.html" %}
{% block title %} Page Beta: index {% endblock %}
{% block content %}
{% if perms.center.add_classes %}
{% else %}
<br />
<form method="POST">
    {% csrf_token %}
    <b>Insert your code:</b>
    <input name="classIns" type="text" placeholder="code" />
    <button type="submit" class="btn btn-outline-warning">Accept</button>
</form>
{% endif %}

<H1>List Your Classes:</H1>
<div class="row">
    {% if query%}
    {% for c in query %}
    <div class="col-lg-3 col-md-4 col-sm-6">
        {% if perms.center.add_classes %}
        <div id="listClass">
            <a id="classroom" href="{% url 'classroom' c.name %}">{{c.name}}</a>
            <p><b>Code:</b>{{c.codes}}</p>
        </div>
        {% else %}
        <div id="listClass">
            <a id="classroom" href="{% url 'classroom' c.classess.name %}">{{c.classess.name}}</a>
            <p><b>Subject:</b> {{c.classess.type_c.name}}</p>
        </div>
        {% endif %}
    </div>
    {% endfor %}
    {% else %}
    <p>There is not practices</p>
    {% endif %}
</div>

<div id="listClassCont" class="col-1"></div>
</div>

{% endblock %}