{% extends "static/base.html" %}
{% block title %} Page Beta: index {% endblock %}
{% block content %}
<br />
<h1>List Exams</h1>
<br />
<div class="row">
    <div class="col-md-3">
        <div class="list-group">
            <a href="/listCalassrooms/{{n}}/" class="list-group-item list-group-item-action">Return</a>
            {% if perms.center.add_classes %}
            <a class="list-group-item list-group-item-action" href="createExam/">Create Exam</a>
            {% else %}
            <br /><br /><br />
            {% endif %}

        </div>
        <div>
            <p> <br /> <br /> </p>
            <p> <br /> <br /> </p>
            <p> <br /> <br /> </p>
            <p> <br /> <br /> </p>
            <p> <br /> <br /> </p>
            <p> <br /> <br /> </p>
            <p> <br /> <br /> </p>
        </div>
    </div>
    <div class="col-md-9">
        {% if list %}
        <ul class="list-group">
            {% for l in list %}
            <a href="/listCalassrooms/{{n}}/listExam/{{l.name_work}}" class="list-group-item list-group-item-primary list-group-item-action">{{l.name_work}} <p class="text-right disabled"> <small> <b style="text-align:center;"> Finish:</b>  <tt>{{l.finish_date}}</tt> </small> </p> </a>
            {% endfor %}
        </ul>
        {% else %}
        <h2>There is not</h2>
        {% endif %}
    </div>
</div>

{% endblock %}