{% extends "static/base.html" %}
{% block title %} Page Beta: index {% endblock %}
{% block content %}
<br />
<h1>List Class:</h1>
<br />
<div class="row">
    <div class="col-md-2">
        <div class="list-group">
            <a href="/listCalassrooms/{{n}}/" class="list-group-item list-group-item-action">Return</a>
        </div>
    </div>
    <div class="col-md-10">
        <table class="table">
            <thead class="thead-dark">
                {% for t in tea %}
                <tr>
                    <th><img class="account-img" src="{{t.teacher.profile.image.url}}" width="25" height="25" alt="Smiley face"></th>
                    <th>{{t.teacher.first_name}}</th>
                    <th>{{t.teacher.last_name}}</th>
                </tr>
                {% endfor %}
            </thead>
            <tbody>
                {% if stu %}
                {% for s in stu %}
                <tr>
                    <th><img class="account-img" src="{{s.student.profile.image.url}}" width="25" height="25" alt="Smiley face"></th>
                    <td>{{s.student.first_name}}</td>
                    <td>{{s.student.last_name}}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
        <br />
        {% for i in range %}
        <p> <br/> </p>
        {% endfor %}
    </div>
</div>
{% endblock %}