{% extends "static/base.html" %}
{% block title %} Page Beta: index {% endblock %}
{% block content %}
{% load static %}
<script type="text/javascript" src="{% static 'static/styles/js/sd3.js' %}"></script>
<br>
{% if perms.center.add_classes %}
<div class="row">
    <div class="col-3">
        <div class="list-group">
            {% if valid.type_a_id == 1 %}
            <a href="/listCalassrooms/{{name}}/listHomework/" class="list-group-item list-group-item-action">Return</a>
            <a href="/listCalassrooms/{{name}}/listHomework/{{name_work}}/editWorkHome/" class="list-group-item list-group-item-action">Edit Homework</a>
            {% elif valid.type_a_id == 2 %}
            <a href="/listCalassrooms/{{name}}/listExam/" class="list-group-item list-group-item-action">Return</a>
            <a href="/listCalassrooms/{{name}}/listExam/{{name_work}}/editWorkExam/" class="list-group-item list-group-item-action">Edit Exam</a>
            {% endif %}
        </div>
    </div>
    <div class="col-sm-9">
        <h1>Averages your students</h1>
        <table class="table">
            <tr>
                <th scope="col" colspan="2">Student</th>
                <th scope="col">Averages</th>
            </tr>
            {% for a in awa %}
            <tr>
                <td>{{a.student.last_name}}</td>
                <td>{{a.student.first_name}}</td>
                <td>{{a.average}}</td>
            </tr>
            {% endfor %}
        </table>
        {% for r in range %}
        <p> <br> </p>
        {% endfor %}
    </div>
</div>
{% else %}
{% if valid.active %}
<div class="row">
    <div class="col-3">
        <div class="list-group">
            {% if valid.type_a_id == 1 %}
            <a href="/listCalassrooms/{{name}}/listHomework/" class="list-group-item list-group-item-action">Return</a>
            {% elif valid.type_a_id == 2 %}
            <a href="/listCalassrooms/{{name}}/listExam/" class="list-group-item list-group-item-action">Return</a>
            {% endif %}
        </div>
    </div>

    {% if valid.type_a_id == 1 %}
    <div class="col-sm-9 text-center">
        <h1 class="text-center">HomeWork</h1>
        <div class="container-fluid">
            <form method="POST">
                {% csrf_token %}
                <button onclick="return startWork()" type="submit" name="accept" class="btn btn-outline-danger">Start
                    Homework</button>
                <h2> Your average is: </h2>
                {{s}}%
            </form>
        </div>
    </div>
    {% elif valid.type_a_id == 2 %}
    <div class="col-sm-9 text-center">
        <h1 class="text-center">Exam</h1>
        <div class="container-fluid">
            <form method="POST">
                {% csrf_token %}
                <button onclick="return startWork()" type="submit" class="btn btn-outline-danger">Start
                    Exam</button>
                <h2> Your average is: </h2>
                {{s}}%
            </form>
        </div>
    </div>
    {% endif %}
    {% else %}
    <div class="col-sm-9 text-center">
        <div class="container-fluid">
            <h1>SORRY !!! you averages is:</h1>
            <h3>{{s}}</h3>
        </div>
    </div>
    {% endif %}
    {% endif %}
</div>
<p> <br> </p>
<br>
{% endblock %}