{% extends "static/base.html" %}
{% block title %} Page Beta: login {% endblock %}
{% block content %}
<div class="content-selection">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="from-group">
            <legend class="border-botton m4">LogIn User</legend>
            <div class="form-group">
                <label>No. Control / Username:</label>
                <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username" class="form-control" />
            </div>
            <div class="form-group">
                <label>Password:</label>
                <input type="password" name="password" autocomplete="current-password" required id="id_password" class="form-control"/>
            </div>
        </fieldset>
        <div class="from-group">
            <button class="btn btn-outline-info" type="submit">Login</button>
        </div>
    </form>
    <div class="boder-top pt-3">
        <small class="text-muted">
            Need An Account? <a class="ml-2" href="/register/">Sign In Now</a>
        </small>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
{% endblock %}