{% extends "static/base.html" %}
{% block title %} Page Beta: login {% endblock %}
{% block content %}
<div class="content-selection">
    <H2>You have been logged out</H2>
    <div class="boder-top pt-3">
        <small class="text-muted">
            Need An Account? <a class="ml-2" href="/login/">Log In Again</a>
        </small>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}