{% extends "static/base.html" %}
{% block title %} Page Beta: index {% endblock %}
{% block content %}
<br>
<div class="row">
    <div class="col-md-4">
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action active">Profile</button>
            <a href="{% url 'profile' %}" class="list-group-item list-group-item-action">Generate Information</a>
            <a href="{% url 'pass' %}" class="list-group-item list-group-item-action">Change password</a>
            <a href="{% url 'deleteUser' %}" onclick="return deleten()" class="list-group-item list-group-item-danger list-group-item-action">Delete User</a>

        </div>
    </div>

    <div class="col-md-8">
        <div class="content-section">
            <div class="media">
                <img class="rounded-circle account-img" width="200" height="200" src="{{user.profile.image.url}}">
                <div class="media-body">
                    <h2 class="account-heading">{{ user.username }}</h2>
                    <p class="text-secondary">{{ user.email }}</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="formulation">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="from-group">
                    <legend class="border-botton mb-4">Profile Info</legend>
                    {% if perms.center.add_classes %}
                    <div>
                        <label for="id_username"><b>Username:</b></label>
                        <input type="text" name="username" maxlength="8" autofocus required id="id_username" class="form-control" value="{{user.username}}" />
                        <span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_only.</span>
                    </div>
                    {% else %}
                    <input type="hidden" class="form-control" name="username" value="{{user.username}}" requiredid="id_username">
                    {% endif %}
                    
                    <div class="form-group">
                        <label for="id_first_name"><b>Fist Name:</b></label>
                        <input type="text" name="first_name" maxlength="150" value="{{user.first_name}}" required id="id_first_name" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="id_last_name"><b>Last Name:</b></label>
                        <input type="text" name="last_name" maxlength="150" required id="id_last_name" class="form-control" value="{{user.last_name}}" />
                    </div>

                    <div class="form-group">
                        <label for="id_email"><b>Email:</b></label>
                        <input type="email" name="email" required id="id_email" class="form-control" value="{{user.email}}">
                    </div>
                    {{p_form}}

                    </fieldset>
                    <br><br>
                    <div class="from-group">
                        <button class="btn btn-outline-info" type="submit">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        function deleten() {
          var x = confirm("want delete your user ?");
          if (x)
            return true;
          else
            return false;
        }
      </script>

</div>
<br>

{% endblock %}