{% extends "static/base.html" %}
{% block title %} Page Beta: register {% endblock %}
{% block content %}
<div class="content-selection">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="from-group">
            <legend class="border-botton m4">Register User</legend>
            <div class="form-group">
                <label>Last Name:</label>
                <input type="text" name="first_name" maxlength="150" required id="id_first_name" class="form-control"/>
            </div>
            <div class="form-group">
                <label>First Name:</label>
                <input type="text" name="last_name" maxlength="150" required id="id_last_name" class="form-control"/>
            </div>
            <div class="form-group">
                <label>No. Control:</label>
                <input type="text" name="username" maxlength="8" autofocus required id="id_username" class="form-control" placeholder="12243801" onkeypress="return validationNum(event)"/>
                <span class="helptext">Required. 8 characters, only numbres.</span>
            </div>
            <div class="form-group">
                <label>Email address:</label>
                <input type="email" name="email" required id="id_email" class="form-control" placeholder="name@itszapopan.edu.mx">
                <span class="helptext">Required.</span>
            </div>
            <div class="form-group">
                <label>Password:</label>
                <input type="password" class="form-control" name="password1" autocomplete="new-password" required id="id_password1" />
                <span class="helptext">
                    <ul>
                        <li>Your password can’t be too similar to your other personal information.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can’t be a commonly used password.</li>
                    </ul>
                </span>
            </div>
            <div class="form-group">
                <label>Confirm password:</label>
                <input type="password" class="form-control" name="password2" autocomplete="new-password" required id="id_password2" />
                <span class="helptext">Enter the same password as before, for verification.</span>
            </div>
        </fieldset>
        <div class="from-group">
            <button class="btn btn-outline-info" type="submit">Sign Up</button>
        </div>
    </form>
    <div class="boder-top pt-3">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2" href="#">Sign In</a>
        </small>
    </div>
</div>

<script type="text/javascript">
    function validationNum(e) {
        key = e.keyCode || e.which;
        tecla = String.fromCharCode(key).toLowerCase();
        letras = "0123456789";
        especiales = [8, 37, 39, 46];

        tecla_especial = false
        for (var i in especiales) {
            if (key == especiales[i]) {
                tecla_especial = true;
                break;
            }
        }
        if (letras.indexOf(tecla) == -1 && !tecla_especial)
            return false;
    }

    function limpia() {
        var val = document.getElementById("c_ruc").value;
        var tam = val.length;
        for (i = 0; i < tam; i++) {
            if (!isNaN(val[i]))
                document.getElementById("c_ruc").value = '';
        }
    }
</script>
{% endblock %}