ion-icon{
    font-size: 64px;
}

#faceb {
    color: blue;
}

h1 {
    margin-top: 10px;
    text-align: center;
    color: blueviolet;
}

#name-index{
    background: url(static/images/img/mate.jpg);
}

footer{
    padding: 2.5rem 0;
    text-align: center;
    background-color: silver;
}


.thumbnail {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10%;
}

@media screen and (min-width:800px) {
    .caption {
        position: absolute;
        top: 40%;
        left: 0;
        width: 100%;
        font: bold 700% monospace;
    }
}

@media screen and (max-width:799px) {
    .caption {
        position: absolute;
        top: 40%;
        left: 0;
        width: 100%;
        font: bold 300% monospace;
    }
}

#img-index{
    width: 100%;
}

input[type=time]::-webkit-datetime-edit-ampm-field {
    display: none;
}