ion-icon{
    font-size: 64px;
}

#faceb {
    color: blue;
}

h1 {
    margin-top: 10px;
    text-align: center;
    color: blueviolet;
}

#name-index{
    background: url(static/images/img/mate.jpg);
}

footer{
    padding: 2.5rem 0;
    text-align: center;
    background-color: silver;
}


.thumbnail {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10%;
}


#img-index{
    width: 100%;
}

input[type=time]::-webkit-datetime-edit-ampm-field {
    display: none;
}

#createClass{
    padding-top: 40%;
}

@media screen and (max-width:990px) {
    #createClass{
        padding-top: 70%;
    }
}


#listClass{
    border: 2px outset blue;
    margin: 2px;
    padding-top: 10%;
    padding-bottom: 10%;
}

#faceb {
    color: blue;
}

h1 {
    margin-top: 10px;
    text-align: center;
    color: blueviolet;
}

#name-index{
    background: url(static/images/img/mate.jpg);
}

footer{
    padding: 2.5rem 0;
    text-align: center;
    background-color: silver;
}


.thumbnail {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10%;
}

@media screen and (min-width:800px) {
    .caption {
        position: absolute;
        top: 40%;
        left: 0;
        width: 100%;
        font: bold 700% monospace;
    }
}

@media screen and (max-width:799px) {
    .caption {
        position: absolute;
        top: 40%;
        left: 0;
        width: 100%;
        font: bold 300% monospace;
    }
}

#img-index{
    width: 100%;
}

input[type=time]::-webkit-datetime-edit-ampm-field {
    display: none;
}

#createClass{
    padding-top: 40%;
}


#listClass{
    border: 2px outset blue;
    margin: 2px;
    padding-top: 10%;
    padding-bottom: 10%;
}
@media screen and (min-width:800px) {
    .caption {
        position: absolute;
        top: 40%;
        left: 0;
        width: 100%;
        font: bold 700% monospace;
    }
}

@media screen and (max-width:799px) {
    .caption {
        position: absolute;
        top: 40%;
        left: 0;
        width: 100%;
        font: bold 300% monospace;
    }
}

#classroom{
    text-align: center;
}

#listClassCont{
    padding-top: 55%;
}


#createWork{
    padding-top: 6%;
}

.container-fluid{
    color: aqua;
}
   

#classroom{
    text-align: center;
}

#listClassCont{
    padding-top: 55%;
    }
#createWork{
    padding-top: 6%;
}

.container-fluid{
    margin: 27% auto;
}

.correct{
    color: green;
}

.incorrect{
    color: red;
}


@media screen and (max-width:765px) {
    #listClass{
        color: red;
    }
}

@media screen and (max-width:990px) {
    #createClass{
        padding-top: 70%;
    }

    .container-fluid{
        margin: 38% auto;
    }
}

@media screen and (max-width:766px) {
    .container-fluid{
        margin: 50% auto;
    }
}