{% extends "static/base.html" %}
{% block title %} Page Beta: Programs Practics {% endblock %}
{% block content %}
{% load static %}
<script type="text/javascript" src="{% static 'static/styles/js/sd3.js' %}"></script>
<script type="text/javascript" src="{% static 'static/styles/js/noReturns.js' %}"></script>

<H1>Select type the formule:</H1>

<form action="{% url 'generationPractice' %}" method="POST">
  {% csrf_token %}

  <div class="form-group">
    <H3>Type programs:</H3>
    <select id="selectBox" name="tip" onchange="changeFunc();" class="form-control">
      {% for t in query %}
      <option value="{{t.id}}">{{t.name}}</option>
      {% endfor %}
    </select>
  </div>

  <div class="form-group">
    <H3>Size of numerals of operation:</H3>
    <select name="size" class="form-control">
      <option value="10" selected>1</option>
      <option value="100">2</option>
      <option value="1000">3</option>
      <option value="10000">4</option>
    </select>
  </div>

  <div id="myDIV" class="form-group">
    <H3>Operation:</H3>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-outline-primary active">
        <input type="radio" name="operation" value="+" autocomplete="off" checked /> Sum
      </label>
      <label class="btn btn-outline-warning">
        <input type="radio" name="operation" value="-" autocomplete="off"> Subtraction
      </label>
      <label class="btn btn-outline-dark">
        <input type="radio" name="operation" value="z" autocomplete="off"> Multiplication
      </label>
      <label class="btn btn-outline-secondary">
        <input type="radio" name="operation" value="/" autocomplete="off"> Division
      </label>
    </div>

    <H3>Extra funcions:</H3>
    <div class="btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-outline-dark">
        <input type="checkbox" autocomplete="off" name="extras" value="n"> Negative
      </label>
      <label class="btn btn-outline-info">
        <input type="checkbox" autocomplete="off" name="extras" value="d"> Decimals
      </label>
    </div>
  </div>
  <br>
  <div class="form-group">
    <button type="submit" class="btn btn-outline-warning">Done</button>
  </div>

  <div id="myDIVS"></div>

</form>
<br /><br /><br /><br /><br /><br /><br /><br />
{% endblock %}