{% extends "static/base.html" %}
{% block title %} Page Beta: index {% endblock %}
{% block content %}
<H1>Welcome to:</H1>
{% load static %}
<div class="row" id="box-search">
    <div class="thumbnail text-center">
        <img id="img-index" src="{% static 'static/images/img/mate.jpg' %}" alt="" class="img-responsive">
        <div class="caption">
            <p>Mate Facil</p>
        </div>
    </div>
</div>
{% endblock %}