{% extends "static/base.html" %}
{% block title %} Page Beta: Programs Practics {% endblock %}
{% block content %}
<script type="text/javascript" src="http://latex.codecogs.com/latexit.js"></script>
<H1>Generate operations:</H1>
<div align="right">
    <a href="{% url 'createPractice' %}">
        <button type="button" class="btn btn-outline-info">Generate New Operation</button>
    </a>
</div>
<br />
{% if list %}
<table class="table">
    <tr>
        <th colspan="2" class="text-center">Formulation</th>
        <th>Result <tt>(if is incorrect your result)</tt></th>
        <th>Result Correct</th>
        <th>Your Answer </th>
    </tr>
    {% for l in list %}
    <tr>
        <th scope="row">{{l.title}}:</th>
        <td lang="latex">{{l.formula}}</td>
        {% if l.validation %}
        {%if  l.validation == "Correct Answer" %}
        <td colspan="2" class="text-center"><b>{{ l.validation }}</b></td>
        <td class="correct">{{ l.your_results}}</td>
        {% else %}
        <td class="correct">{{ l.results }}</td>
        <td><b>{{ l.validation }}</b></td>
        <td class="incorrect">{{ l.your_results}}</td>
        {% endif %}
        {% else %}
        <td colspan="2">No answer</td>
        <td>
            <a href="{% url 'practice' l.pk %}">
                <button type="button" class="btn btn-outline-info">
                    <span class="glyphicon glyphicon-open">Resolve</span>
                </button>
            </a>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% else %}
<h2>No hay practicas</h2>
{% endif %}
{% for s in range %}
<p><br></p>
{% endfor %}
{% endblock %}