{% extends "static/base.html" %}
{% block title %} Page Beta: Programs Practics {% endblock %}
{% block content %}
{% load static %}
<script type="text/javascript" src="{% static 'static/styles/js/sd3.js' %}"></script>
<script type="text/javascript" src="http://latex.codecogs.com/latexit.js"></script>
<div onload="deshabilitaRetroceso().swap();" onpageshow="if (event.persisted) deshabilitaRetroceso().swap();">
    <H1>Programs Resolve:</H1>
    <form action="validationPractice/" method="POST">
        {% csrf_token %}
        {% for t in type%}
        <h2>{{t.type_c.name}}</h2>
        <p>Answer the problem to determine the answer:</p>
        <hr />
        <FONT SIZE=6>{{p.title }}:</FONT><br>
        <FONT SIZE=5 lang="latex"> \huge \color{blue} {{p.formula }}</FONT>
        <hr>
        <h3>Answer:</h3>
        {% if t.type_c.name == "Inequality" %}
        <p>Select one the buttons to determine, the comparison the two numbers:</p>

        <button class="btn btn-outline-success" type="submit" name="btn1">></button>
        <button class="btn btn-outline-primary" type="submit" name="btn2"><</button>
        <button class="btn btn-outline-warning" type="submit" name="btn3">=</button>
        <p><br /></p>
        <p> <a href="{% url 'listPractices'  %}" type="button" class="btn btn-outline-danger">Return</a> </p>
        <p><br /></p>
        <p><br /></p>
        <p><br /></p>
        <p><br /></p>
        <p><br /></p>
        {% elif t.type_c.name == "Arithmetic" %}
        <textarea class="form-control" name="res" rows="8" onkeypress="return validationNum(event)"></textarea><br>
            <button class="btn btn-outline-info" type="submit" name="btn4">Results</button> <a href="{% url 'listPractices'  %}" type="button" class="btn btn-outline-danger">Return</a>
            <p><br /></p>
            <p><br /></p>
        {% endif %}
        {% endfor %}
    </form>
</div>
{% endblock %}